#resultWell {
   margin-top: 20px;
   background: #efefef;
   padding: 20px;
}

#resultWell li {
   list-style-type: none;
   text-transform: capitalize;
   margin: 10px 0;
}

.alertBorder {
   border: 1px solid #dd3333;
}